<form action="/Produto/Adiciona" method="post">
    @Html.AntiForgeryToken()
    <label for="nome">Nome:</label>
    <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />
    @Html.ValidationMessage("produto.Nome")

    <label for="preco">Preco:</label>
    <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />
    @Html.ValidationMessage("produto.Preco")
    @Html.ValidationMessage("produto.InformaticaComPrecoInvalido")

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />
    @Html.ValidationMessage("produto.Quantidade")

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />
    @Html.ValidationMessage("produto.Descricao")

    <label for="categoria">Categoria:</label>
    <select id="categoria" name="produto.CategoriaId" class="form-control">
        @foreach (var categoria in ViewBag.CategoriaDoProduto)
        {
            <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">@categoria.Nome</option>
        }
    </select>
    @Html.ValidationMessage("produto.CategoriaId")

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
