<div> 
    ID: @ViewBag.Produto.Id<br />
    Nome: @ViewBag.Produto.Nome<br />
    Preço: @ViewBag.Produto.Preco<br />
    Categoria: @ViewBag.Produto.Categoria.Nome<br />
    Descricao: @ViewBag.Produto.Descricao<br />
    Quantidade: @ViewBag.Produto.Quantidade<br />
</div>
@Html.RouteLink("Voltar", "ListaProduto")
